<div class="container">
    <div class="row-mt-5">
        <div class="col-md-4 mt-3 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group mx-auto">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control form-control-lg" type="text" name="nombre" id="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group mx-auto">
                    <label class="form-label" for="precio">Precio</label>
                    <input class="form-control form-control-lg" type="number" name="precio" id="precio" [(ngModel)]="precio" required>
                </div>
                <!--El botón estará deshabilitado hasta que no se valide el formulario, es decir tenga los campos required rellenos-->
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
            </form>
        </div>
    </div>
</div>
